@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    }

.new-message-form-container {
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 5px;
}

.new-message-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.message-input {
    
    flex: 1;
    resize: none;
    padding: 15px 15px; 
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    height: 50px;
    line-height: 20px;
    overflow-y: hidden; 
    
}

.emoji-button{
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.2s;
    font-size: 30px;
    transition: box-shadow 0.3s ease;
}

.plus-button{
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.2s;
    font-size: 30px;
    transition: box-shadow 0.3s ease;
}

.send-button {
    background-color: #1daa61;
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.2s;
    font-size: 20px;
    
}

.send-button:hover,
.emoji-button:hover,
.plus-button:hover{
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 450px){
    .emoji-button{
        display: none;
    }
}