@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    }

.contact-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px; /* valor por defecto desktop */
    height: 120px;
    background-color: #ffffff;
    color: #1dab62;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    gap: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.header-top {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.header-top h2 {
    font-size: 24px;
    font-family: sans-serif;
    margin: 0;
}

.header-search {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 20px;
    padding: 6px 12px;
}

.header-search input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 14px;
    color: #111b21;
}