*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .message-screen {
        display: flex;
        height: 100vh;
        background-color: #f0f0f0;
    }

    .message-screen__contact-list-container {
    flex: 0 0 clamp(200px, 30%, 400px);
    height: 100%;
    width: 400px;
    border-right: 1px solid #ddd;
    background-color: #fff;
    padding-top: 0; 
    overflow-y: auto;
    transition: flex-basis 0.3s ease;
    }

.message-screen__messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url('https://i.pinimg.com/736x/31/04/e0/3104e02012ee109335a5ca2fc52b81db.jpg');
}


    .messages-form-container {
        padding: 12px;
        
    }

    .loading-container {
        height: 100vh; 
        display: flex;
        place-items: center;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        color: #555;
    }


    @media screen and (max-width: 670px){
        .message-screen__contact-list-container{
            display: none;
        }

        .message-screen__messages-container,
        .messages-form-container{
            width: 100%;
        }

        
    }


    @media screen and (max-width: 400px){
        .navbar-container{
            display: none;
        }
    }