@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif;
    }

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}
.contact-list {
    width: 400px;
    border-right: 1px solid #ddd;
}
.chat-placeholder {
    width: calc(100% - 400px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    background-color: #ddd;
}
