.home-container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100%;
}

.navbar-container {
    width: 80px; /* finito */
    height: 100%;
    background-color: #f5f5f5; /* color de fondo del navbar */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.chat-placeholder {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #f7f5f3;
    color: black;
}

@media screen and (max-width: 750px){
    .chat-placeholder{
        display: none;
    }
    .contact-container{
        flex: 1;
    }
}